<div class="header">
    Vielen Dank alle aus

    <strong>{{city}}</strong>

    die dabei geholfen haben!
</div>

<div class="header">
    {{#each signatures}}

    {{#if url}}

    <p><a href="{{url}}">{{name}} {{lastname}}</a> {{age}}</p>

    {{else}}

    <p>{{name}} {{lastname}} {{age}}</p>

    {{/if}}

    {{/each}}
</div>
