<div class="headerSignatures">
    <center>
        <h3>
            Sie stimmmen dir zu :-)
        </h3>
    <center>
    <br>
    <h3>
        {{#rows}}

        {{#if url}}
            <p>
                <a class="link" target="_blank" href="{{url}}">{{name}} {{lastname}}</a>
                {{age}} <a href="/signatures/{{city}}">{{city}}</a>
            </p>
            {{else}}
            <p>{{name}} {{lastname}} {{age}} <a href="/signatures/{{city}}">{{city}}</a></p>
        {{/if}}

        {{/rows}}
    </h3>
</div>
<br>
